.container {
  @include flex();
  gap: .3rem;
  border: .1px solid;
  min-width: 320px;
  width: 30%;
  padding: 2.5rem;
  border-radius: 7px;
  background-color: rgb(178, 199, 205, .4);
  filter: blur();
}

.form {
  @include flex($align: stretch);
  gap: .1rem;
  width: 100%;
  margin-top: .5rem;
}

.subtitle {
  font-weight: 200;
  font-size: .7rem;
  color:rgb(156, 210, 225)
}

.submit {
  padding: .5rem 0;
  background-color:rgb(0, 146, 186);
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  margin-top: .5rem;
  font-size: 1rem;

  &:hover {
    transform: scale(.95);
    box-shadow: -6px -2px 13px 0px rgba(34, 60, 80, 0.2) inset;
  }
}

.account {
  font-size: .7rem;
  margin-top: 0.3rem;
}

.server {
  background-color: rgb(245, 146, 146);
  position: absolute;
  top: .2rem;
  padding: .5rem;
  border-radius: .3rem;
}